<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="eventos" class="nav-link" routerLinkActive="active">Listar eventos</a>
    </li>
    <li class="nav-item">
      <a routerLink="cadastrar" class="nav-link" routerLinkActive="active">Cadastrar eventos</a>
    </li>
  </ul>
 </nav>
 <div class="container">
   <br>
   <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
 </div>
